.li1 {
  font-size: 24px;
  font-weight: bold;

}

.sum1 {
  font-size: 18px;
  font-weight: bold;
  color: blue;
}

.sumlist1 {
  font-size: 15px;
  font-weight: bold;
  color: red;
}